%table
  %tr
    %th
      %h1= @event.name
      %br
      %h2
        %U= @entry.user.name
        様
    - if @event.qr_use
      %th
        %br
          = qrimg_tag @entry.user.qr_secret
        %br
        %small= I18n.t 'activerecord.attributes.user.qr_secret'
