%h1 参加登録を完了しました
%hr
%table{:align => "center", :border => "1", :width => "600px"}
  %tr
    %td= render :partial => 'ticketcomp'
%p
  参加登録ありがとうございました。
  %br
  ご登録いただいたメールアドレスに登録完了メールと当日受付用QRコードが送信されました。
  %br
  カンファレンス当日はこのQRコードをお持ちください(このQRコードはユーザーページのQRコードと同一のものです)。
  %br
  %br
  当日はこのページを印刷、またはQRコードを携帯等の画面に表示できるようにして持ってきてください。
%br
- unless @sub_events.blank?
  %h1 サブイベント
  %hr
  %br
  %p このイベントには以下のサブイベントがあります。参加する場合は忘れずに参加登録してください。
  = render :partial => 'sub_events', :locals => { :events => @sub_events }
= link_to 'イベントページに戻る', @event