%h1 送信済メール確認
%hr
%table.indexTable
  %tr
    %th.indexTable 送信先
    %td.indexTable 参加者全員
  %tr
    %th.indexTable 件名
    %td.indexTable
      %h2= @mail.subject
  %tr
    %th.indexTable 本文
    %td.indexTable
      %pre<= hbr @mail.text
%p
  = link_to '送信済みメール一覧', event_event_mails_path(@event, admin_token: @event.admin_token)
