
.page-header
  %h1 カンファインについて

.row
  .span7

    %h2 カンファインとは？
    %p
      カンファインは高専カンファレンス向けイベント支援ツールです。
      カンファレンスの開催告知、参加者募集、当日の受付け、アンケートまで幅広くサポートします。
      現在は完全高専カンファレンス仕様となっています。
      ちなみにシステム名のカンファインは「カン」単、「カンファ」、チェック「イン」を表しています。
    %h2 簡単カンファチェックイン？
    %p
      この受け付けシステムが誇る「簡単」について軽く説明します。
      カンファインではイベントに参加登録するとQRコードが発行されます。
      QRコードは通常の画像で発行され、登録したメールアドレスにも送られます。
      そしてイベント当日はこのQRコードで受付をします。
      QRコードを受付のカメラで読み込むだけで当日の受付は完了です！
      QRコードは印刷、または携帯などの画面に表示できればOKです。
    %h2 作った人
    %p
      %h3 奥本　隼
      %p
        長野高専 電子情報工学科 2年
        %br
        主に内部処理を担当
        %br
        Twitter:
        %a{:href => "http://twitter.com/#!/falcon_8823", :target => "_blank"} @falcon_8823
    %p
      %h3 若林　哲宇
      %p
        長野高専 電子情報工学科 2年
        %br
        主に表示部分を担当
        %br
        Twitter:
        %a{:href => "http://twitter.com/#!/nsatohiro", :target => "_blank"} @nsatohiro
    %p
      %h3 大和　優介
      %p
        長野高専 電子情報工学科 2年
        %br
        主に内部処理を担当
        %br
        Twitter:
        -#%a{:href => "http://twitter.com/#!/falcon_8823", :target => "_blank"} @falcon_8823
    %p
      %h3 宮崎　大智
      %p
        長野高専 電子情報工学科 2年
        %br
        主に内部処理を担当
        %br
        Twitter:
        -#%a{:href => "http://twitter.com/#!/falcon_8823", :target => "_blank"} @falcon_8823
    %p
      %h3 矢口　裕也
      %p
        長野高専 電子情報工学科 5年
        %br
        主に内部処理を担当
        %br
        Twitter:
        -#%a{:href => "http://twitter.com/#!/falcon_8823", :target => "_blank"} @falcon_8823
