%h3 イベント参加者
%table.entryTable
  - @entries.each do |entry|
    %tr
      %td
        = twicon_tag entry.user, :mini
      %td
        %b= link_to entry.user.name, entry.user
        %br
        = entry.comment
