.sideTitle イベント参加者
.side
  %table.entryTable
    - @entries.each do |entry|
      %tr
        %td.entryTable
          / twicon
          = twicon_tag entry.user.tw_id, :mini
        %td.entryTable
          %b= link_to entry.user.name,   |
              user_path(id: entry.user_id) |
          %br
          = entry.comment
