%h3 イベント参加者
%ul.media-grid
  - @entries.each do |entry|
    %li
      = link_to(twicon_tag(entry.user, :normal),
        entry.user.tw_id.blank? ? entry.user : "http://twitter.com/#{entry.user.tw_id}",
        class: :thumbnail)
