.fields
  .input
    .well
      摘要
      = f.text_field :name, size: 20
      %br    
      金額
      = f.text_field :sum, size: 4
      円
      %br
      備考
      = f.text_field :summary
      %br
      = link_to_remove_fields '削除', f, class: 'btn danger small'