%h2 フリー入力アンケート
%table
  %th
  %th 質問
  %th 設定
  - $free_form.each do |i|
    %tr
      %th= f.label i[:question]
      %td= f.text_field i[:question]
      %td= f.select i[:setting], [["表示しない", 0], ["任意回答", 1], ["必須項目", 2]]