- if Time.now < @event.date
  - unless @entry.nil?
    = render(:partial => "entries/ticket")
    - if @event.joinable_period_begin < Time.now && Time.now < @event.joinable_period_end
      = link_to "キャンセルする", |
            event_entry_path(:id => @entry, :event_id => @entry.event), |
            { :method => :delete, |
            :confirm => "本当にキャンセルしますか？ |
          ※再度参加登録する際に，満員であっても優先されません。"} |
  - else
    - if @event.joinable_period_begin < Time.now && Time.now < @event.joinable_period_end
      .joinLink
        - if @remain > 0 ##残り人数によって表示を変更
          = link_to "このイベントに参加する", new_event_entry_path(@event), id: 'joinLink'
        - else
          %h3 このイベントの参加者は満員となりました。
- else
  %h3 このイベントは終了しました。
