%h1
  イベント編集：
  = @event.name
  %h3
    = button_to "このイベントを削除する", event_url(id: @event), |
        { method: :delete, |
          confirm: "本当に削除しますか？\n※ユーザからの参加登録も同時に削除されます" }
= render partial: 'edit_form'
= link_to 'イベント一覧', events_path
