.indexTable {
	text-align: left;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	border-collapse: collapse;
}
th.indexTable {
	padding-right: 5px;
	text-align: center;
	background:#EEEEEE;
}
td.indexTable {
	text-align: left;
	padding: 5px;
}
#paid {
	color: blue;
}
#not_paid {
	color: red;
	font-weight: bolder;
}
#fees_sum {
	font-size: x-large;
	font-weight: bolder;
}
