<p><%= @resource.name %> さん</p>

<p>「カンファイン」にご登録頂きありがとうございます。</p>
<p>このメールは，<b>仮登録</b>をお知らせするメールです。</p>

<p>つきましては，
<b>
<%= link_to 'こちら', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %>
</b>
をクリックして本登録を完了してください。
</p>

<p>
なお，このメールにお心辺りの無い方は，お手数ですが下記のアドレスまでご連絡ください。
<br>
<%= mail_to 'webmaster@falconsrv.net' %>
</p>

<p>
簡単カンファレンスチェックイン！<br>
<%= link_to 'カンファイン', 'http://conf-in.falconsrv.net/' %>
</p>
